@model IEnumerable<FightSports.Models.Magazine>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/admin_panel.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-action="Create" class="btn btn-info">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MagazineAdress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MagazineLongitude)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MagazineLatitude)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductTxt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MagazineFirstPhotoPath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SportCategory)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ProductName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MagazineAdress)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MagazineLongitude)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MagazineLatitude)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProductTxt)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProductPrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProductTitle)
    </td>
    <td>
        <img src="@item.MagazineFirstPhotoPath" width="300px;" height="200px;" alt="Alternate Text" />
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SportCategory.SportCategoryName)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.MagazineId" class="btn btn-primary">Edit</a> 
        <a asp-action="Details" asp-route-id="@item.MagazineId" class="btn btn-success">Details</a> 
        <a asp-action="Delete" asp-route-id="@item.MagazineId" class="btn btn-danger">Delete</a>
    </td>
</tr>
}
        </tbody>
    </table>
</body>
</html>
