@model IEnumerable<FightSports.Models.MelumatComments>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/admin_panel.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MelumatCommentAuthorName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MelumatCommentTxt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MelumatCommentDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Melumat)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MelumatCommentAuthorName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MelumatCommentTxt)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MelumatCommentDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Melumat.MelumatId)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.MelumatCommentId">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.MelumatCommentId">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.MelumatCommentId">Delete</a>
    </td>
</tr>
}
        </tbody>
    </table>
</body>
</html>
