@model FightSports.Models.Melumat

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/admin_panel.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Melumat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MelumatTxt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MelumatTxt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MelumatPhotoPath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MelumatPhotoPath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MelumatAdress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MelumatAdress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SportCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SportCategory.SportCategoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MelumatId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
