@model IEnumerable<FightSports.Models.Melumat>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/admin_panel.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-action="Create" class="btn btn-info">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MelumatTxt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MelumatPhotoPath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MelumatAdress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SportCategory)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MelumatTxt)
    </td>
    <td>
       <img src="@item.MelumatPhotoPath" style="max-width:300px;" alt="Alternate Text" />
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MelumatAdress)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SportCategory.SportCategoryName)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.MelumatId" class="btn btn-primary">Edit</a> 
        <a asp-action="Details" asp-route-id="@item.MelumatId" class="btn btn-success">Details</a> 
        <a asp-action="Delete" asp-route-id="@item.MelumatId" class="btn btn-danger">Delete</a>
    </td>
</tr>
}
        </tbody>
    </table>
</body>
</html>
