@model IEnumerable<FightSports.Models.MagazinePhotos>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/admin_panel.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-action="Create" class="btn btn-info">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MagazinePhotoPath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MagazinePhotoName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Magazine)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MagazinePhotoName)
                    </td>
                    <td>
                        <img src="@item.MagazinePhotoPath" width="300px;" height="200px;" alt="Alternate Text" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Magazine.ProductName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.MagazinePhotoId" class="btn btn-primary">Edit</a> 
                        <a asp-action="Details" asp-route-id="@item.MagazinePhotoId" class="btn btn-success">Details</a> 
                        <a asp-action="Delete" asp-route-id="@item.MagazinePhotoId" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
