@model IEnumerable<FightSports.Models.MagazinePhotos>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/admin_panel.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MagazinePhotoPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MagazinePhotoName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Magazine)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img width="300px" height="300px" src="@Url.Content(item.MagazinePhotoPath)" alt="Alternate Text" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MagazinePhotoName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Magazine.MagazineId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MagazinePhotoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MagazinePhotoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MagazinePhotoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
