@model FightSports.Models.Comments

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/admin_panel.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Comments</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuthorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CommentTxt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CommentTxt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CommentDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CommentDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.News)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsBigTitle)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CommentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
