@model List<WebApplication1.Models.News>;

@{ 
    List<SportCategories> sportCategories = new List<SportCategories>();
    sportCategories = ViewBag.SportCategories;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32"> -->
    <title>FightSports</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin:500" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/css/slider-pro.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" />
</head>
<body class="animated fadeIn">
    <div class="page_background_img" style="background-image:url(/blocks.jpg)"></div>
    <div class="modal fade" id="modal03" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog02 modal-dialog-centered" role="document">
                <div class="modal-content02 modal-content">
                    <div class="search_list"></div>
                </div>
            </div>
        </div>
    <div class="main_news_container">
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="iframe_con"><pre id="myCode"></pre></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="up_thin_footer_container">
                <div class="logo_container">
                    <a href="/Home/Index">
                        <img class="img-fluid" src="images/ufc_logo.png" />
                    </a>
                </div>
                <div class="search_container_main">
                    <input class="search_area" id="search-text" type="text" />
                    <button type="button" class="search_button myBtn03">
                        go
                    </button>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="full_nav_bar_container">
                <div class="nav_bar_container">
                    @foreach (var item in sportCategories.Take(12))
                    {
                        <span class="nav_bar_items">
                            <a href="/Home/SportsPage/@item.SportCategoryId">@item.SportCategoryName</a>
                        </span>
                    }
                </div>
                <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle" href="" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        more
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        @foreach (var item in sportCategories.Skip(12))
                        {
                            <a class="dropdown-item" href="/Home/SportsPage/@item.SportCategoryId">@item.SportCategoryName</a>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="main_news_block_container">
                <div class="map_container animated fadeIn">
                    <div id="map"></div>
                </div>
                <div class="news_txt_container container">
                    <div class="for_border">
                        @foreach (var item in Model)
                        {
                            <div class="news_container_title">
                                <span>@item.NewsTitle</span>
                            </div>
                        }
                        <div class="main_news_container">
                            <div class="quote_svg">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 475.082 475.081" style="enable-background:new 0 0 475.082 475.081;" xml:space="preserve">
                                <g>
                                <g>
                                <path d="M164.45,219.27h-63.954c-7.614,0-14.087-2.664-19.417-7.994c-5.327-5.33-7.994-11.801-7.994-19.417v-9.132    c0-20.177,7.139-37.401,21.416-51.678c14.276-14.272,31.503-21.411,51.678-21.411h18.271c4.948,0,9.229-1.809,12.847-5.424    c3.616-3.617,5.424-7.898,5.424-12.847V54.819c0-4.948-1.809-9.233-5.424-12.85c-3.617-3.612-7.898-5.424-12.847-5.424h-18.271    c-19.797,0-38.684,3.858-56.673,11.563c-17.987,7.71-33.545,18.132-46.68,31.267c-13.134,13.129-23.553,28.688-31.262,46.677    C3.855,144.039,0,162.931,0,182.726v200.991c0,15.235,5.327,28.171,15.986,38.834c10.66,10.657,23.606,15.985,38.832,15.985    h109.639c15.225,0,28.167-5.328,38.828-15.985c10.657-10.663,15.987-23.599,15.987-38.834V274.088    c0-15.232-5.33-28.168-15.994-38.832C192.622,224.6,179.675,219.27,164.45,219.27z" fill="#c80000"></path>
                                <path d="M459.103,235.256c-10.656-10.656-23.599-15.986-38.828-15.986h-63.953c-7.61,0-14.089-2.664-19.41-7.994    c-5.332-5.33-7.994-11.801-7.994-19.417v-9.132c0-20.177,7.139-37.401,21.409-51.678c14.271-14.272,31.497-21.411,51.682-21.411    h18.267c4.949,0,9.233-1.809,12.848-5.424c3.613-3.617,5.428-7.898,5.428-12.847V54.819c0-4.948-1.814-9.233-5.428-12.85    c-3.614-3.612-7.898-5.424-12.848-5.424h-18.267c-19.808,0-38.691,3.858-56.685,11.563c-17.984,7.71-33.537,18.132-46.672,31.267    c-13.135,13.129-23.559,28.688-31.265,46.677c-7.707,17.987-11.567,36.879-11.567,56.674v200.991    c0,15.235,5.332,28.171,15.988,38.834c10.657,10.657,23.6,15.985,38.828,15.985h109.633c15.229,0,28.171-5.328,38.827-15.985    c10.664-10.663,15.985-23.599,15.985-38.834V274.088C475.082,258.855,469.76,245.92,459.103,235.256z" fill="#c80000"></path>
                                            </g>
                                        </g>
                                        </svg>
                            </div>
                            @foreach (var item in Model)
                            {
                                <div class="quick_news_review_con">
                                    @item.NewsBigTitle
                                </div>
                            }
                        </div>
                    </div>
                    <div class="big_main_news_con">
                        <div class="adjust_font_size">
                            <!--?xml version="1.0" ?-->
                            <svg xmlns="http://www.w3.org/2000/svg" height="512px" version="1.1" viewBox="0 0 937.49927 937" width="512px">
                                <g id="surface1">
                                    <path d="M 15.625 281.476562 L 78.121094 281.476562 C 85.660156 281.46875 92.125 276.074219 93.472656 268.652344 L 115.347656 148.105469 C 119.398438 125.800781 138.84375 109.589844 161.511719 109.613281 L 249.976562 109.613281 L 249.976562 778.894531 C 249.988281 792.367188 241.375 804.324219 228.601562 808.582031 L 120.054688 844.714844 C 113.667969 846.84375 109.363281 852.816406 109.363281 859.546875 L 109.363281 922.039062 C 109.363281 930.671875 116.355469 937.664062 124.988281 937.664062 L 562.449219 937.664062 C 571.078125 937.664062 578.070312 930.671875 578.070312 922.039062 L 578.070312 859.546875 C 578.070312 852.816406 573.769531 846.84375 567.386719 844.714844 L 458.832031 808.535156 C 446.074219 804.285156 437.460938 792.347656 437.460938 778.894531 L 437.460938 109.613281 L 525.921875 109.613281 C 548.570312 109.613281 567.992188 125.8125 572.035156 148.097656 L 593.914062 268.652344 C 595.273438 276.085938 601.757812 281.484375 609.320312 281.476562 L 671.816406 281.476562 C 680.445312 281.476562 687.4375 274.484375 687.4375 265.851562 L 687.4375 15.875 C 687.4375 7.242188 680.445312 0.25 671.816406 0.25 L 15.625 0.25 C 6.992188 0.25 0 7.242188 0 15.875 L 0 265.851562 C 0 274.484375 6.992188 281.476562 15.625 281.476562 Z M 31.246094 31.5 L 656.191406 31.5 L 656.191406 250.230469 L 622.367188 250.230469 L 602.777344 142.503906 C 596.015625 105.367188 563.671875 78.371094 525.921875 78.371094 L 421.835938 78.371094 C 413.207031 78.371094 406.214844 85.363281 406.214844 93.988281 L 406.214844 778.894531 C 406.21875 805.789062 423.433594 829.667969 448.941406 838.167969 L 546.824219 870.816406 L 546.824219 906.421875 L 140.609375 906.421875 L 140.609375 870.816406 L 238.496094 838.167969 C 264.007812 829.667969 281.21875 805.789062 281.226562 778.894531 L 281.226562 93.988281 C 281.226562 85.363281 274.226562 78.371094 265.601562 78.371094 L 161.511719 78.371094 C 123.757812 78.371094 91.414062 105.371094 84.65625 142.515625 L 65.066406 250.230469 L 31.246094 250.230469 Z M 31.246094 31.5 " style=" fill-rule:nonzero;fill-opacity:1;" stroke="#c80000" fill="#c80000"></path>
                                    <path d="M 734.3125 718.933594 C 728.875 718.90625 723.824219 721.695312 720.957031 726.304688 C 718.085938 730.921875 717.828125 736.6875 720.25 741.542969 L 813.988281 929.023438 C 816.628906 934.335938 822.046875 937.675781 827.976562 937.675781 C 833.894531 937.675781 839.3125 934.335938 841.957031 929.023438 L 935.703125 741.542969 C 938.109375 736.707031 937.855469 730.972656 935.027344 726.375 C 932.195312 721.773438 927.191406 718.960938 921.792969 718.933594 L 874.921875 718.933594 L 874.921875 218.980469 L 921.792969 218.980469 C 927.226562 219.007812 932.273438 216.214844 935.144531 211.605469 C 938.011719 206.992188 938.277344 201.226562 935.855469 196.378906 L 842.113281 8.890625 C 839.167969 3.964844 833.863281 0.949219 828.125 0.949219 C 822.398438 0.949219 817.078125 3.964844 814.140625 8.890625 L 720.398438 196.378906 C 717.988281 201.203125 718.246094 206.9375 721.074219 211.539062 C 723.90625 216.144531 728.90625 218.957031 734.3125 218.980469 L 781.179688 218.980469 L 781.179688 718.933594 Z M 796.800781 187.734375 L 759.589844 187.734375 L 828.050781 50.804688 L 896.511719 187.734375 L 859.296875 187.734375 C 850.667969 187.734375 843.675781 194.726562 843.675781 203.355469 L 843.675781 734.558594 C 843.675781 743.1875 850.667969 750.179688 859.296875 750.179688 L 896.511719 750.179688 L 828.050781 887.109375 L 759.589844 750.179688 L 796.800781 750.179688 C 805.433594 750.179688 812.425781 743.1875 812.425781 734.558594 L 812.425781 203.355469 C 812.425781 194.726562 805.433594 187.734375 796.800781 187.734375 Z M 796.800781 187.734375 " style=" fill-rule:nonzero;fill-opacity:1;" stroke="#c80000" fill="#c80000"></path>
                                </g>
                            </svg>
                        </div>
                        <div class="first_part_of_big_con">
                            @foreach (var item in Model)
                            {
                                <div class="main_news_txt01_con">
                                    <p class="main_news_txt01">
                                        @item.NewsTxt
                                    </p>
                                </div>
                            }
                            <div class="first_img_con myBtn01">
                                <div class="video_svg">
                                    <!--?xml version="1.0" encoding="iso-8859-1"?-->
                                    <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 41.999 41.999" style="enable-background:new 0 0 41.999 41.999;" xml:space="preserve" width="512px" height="512px">
                                    <path d="M36.068,20.176l-29-20C6.761-0.035,6.363-0.057,6.035,0.114C5.706,0.287,5.5,0.627,5.5,0.999v40  c0,0.372,0.206,0.713,0.535,0.886c0.146,0.076,0.306,0.114,0.465,0.114c0.199,0,0.397-0.06,0.568-0.177l29-20  c0.271-0.187,0.432-0.494,0.432-0.823S36.338,20.363,36.068,20.176z" fill="#c80000"></path>
                                    <g>
                                                        </g>
                                                        </svg>
                                </div>
                                @foreach (var item in Model)
                                {
                                    <div class="my_url">@item.NewsFirstVideoPath</div>
                                }
                                @foreach (var item in Model)
                                {
                                    <div class="first_img_con_main" style="background-image:url(@item.NewsFirstPhotoPath)"></div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="for_end_padd_bottom">
                        <div class="share_news_container">
                            <div class="views_con">
                                <div class="views_title">views :</div>
                                @foreach (var item in Model)
                                {
                                    <div class="views_number">@item.NewsViews</div>
                                }
                                <div class="views_svg">
                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55.312px" height="55.312px" viewBox="0 0 55.312 55.312" style="enable-background:new 0 0 55.312 55.312;" xml:space="preserve">
                                    <g>
                                    <g>
                                    <g>
                                    <path d="M28.042,45.438c-9.428,0-18.675-5.251-27.485-15.606c-0.684-0.804-0.744-1.965-0.148-2.835
                                                            c0.479-0.7,11.914-17.124,27.963-17.124c9.511,0,18.429,5.75,26.506,17.089c0.564,0.793,0.579,1.852,0.037,2.659
                                                            C54.482,30.266,44.105,45.438,28.042,45.438z M5.348,28.211c7.487,8.332,15.115,12.553,22.694,12.553
                                                            c11.041,0,19.297-9.045,22.025-12.465c-6.859-9.126-14.151-13.752-21.694-13.752C17.329,14.546,8.36,24.447,5.348,28.211z"></path>
                                                    </g>
                                    <path d="M27.656,16.407c-6.212,0-11.247,5.035-11.247,11.248c0,6.211,5.035,11.247,11.247,11.247
                                                        c6.211,0,11.247-5.036,11.247-11.247C38.903,21.443,33.868,16.407,27.656,16.407z M31.685,27.822
                                                        c-2.503,0-4.532-2.029-4.532-4.531c0-2.504,2.029-4.533,4.532-4.533c2.504,0,4.533,2.029,4.533,4.533
                                                        C36.218,25.792,34.188,27.822,31.685,27.822z"></path>
                                                </g>
                                            </g>
                                    </svg>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="share_this_con">
                                <div class="share_this_title">share :</div>
                                <div class="share_items_con">
                                    <a class="facebook-share" data-js="facebook-share">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 60.734 60.733" style="enable-background:new 0 0 60.734 60.733;" xml:space="preserve">
                                        <g>
                                        <path d="M57.378,0.001H3.352C1.502,0.001,0,1.5,0,3.353v54.026c0,1.853,1.502,3.354,3.352,3.354h29.086V37.214h-7.914v-9.167h7.914   v-6.76c0-7.843,4.789-12.116,11.787-12.116c3.355,0,6.232,0.251,7.071,0.36v8.198l-4.854,0.002c-3.805,0-4.539,1.809-4.539,4.462   v5.851h9.078l-1.187,9.166h-7.892v23.52h15.475c1.852,0,3.355-1.503,3.355-3.351V3.351C60.731,1.5,59.23,0.001,57.378,0.001z" fill="#c80000"></path>
                                            </g>
                                        </svg>
                                    </a>
                                    <a class="twitter-share" data-js="twitter-share">
                                        <?xml version="1.0" encoding="iso-8859-1" ?>
                                        <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve">
                                        <g>
                                        <g id="post-twitter">
                                        <path d="M459,0H51C22.95,0,0,22.95,0,51v408c0,28.05,22.95,51,51,51h408c28.05,0,51-22.95,51-51V51C510,22.95,487.05,0,459,0z     M400.35,186.15c-2.55,117.3-76.5,198.9-188.7,204C165.75,392.7,132.6,377.4,102,359.55c33.15,5.101,76.5-7.649,99.45-28.05    c-33.15-2.55-53.55-20.4-63.75-48.45c10.2,2.55,20.4,0,28.05,0c-30.6-10.2-51-28.05-53.55-68.85c7.65,5.1,17.85,7.65,28.05,7.65    c-22.95-12.75-38.25-61.2-20.4-91.8c33.15,35.7,73.95,66.3,140.25,71.4c-17.85-71.4,79.051-109.65,117.301-61.2    c17.85-2.55,30.6-10.2,43.35-15.3c-5.1,17.85-15.3,28.05-28.05,38.25c12.75-2.55,25.5-5.1,35.7-10.2    C425.85,165.75,413.1,175.95,400.35,186.15z" fill="#c80000" />

                                                </g>
                                            </g>
                                            </svg>
                                    </a>
                                    <a class="vk-share" data-js="vk-share">
                                        <?xml version="1.0" encoding="iso-8859-1" ?>
                                        <!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 14.171 14.171" style="enable-background:new 0 0 14.171 14.171;" xml:space="preserve" width="512px" height="512px">
                                        <g>
                                        <path d="M13.268,0H0.905C0.405,0,0,0.405,0,0.904v12.363c0,0.499,0.405,0.904,0.905,0.904h12.362   c0.499,0,0.904-0.405,0.904-0.904V0.904C14.172,0.404,13.767,0,13.268,0z M11.755,8.635c0.259,0.264,0.821,0.707,0.719,1.158   c-0.094,0.414-0.712,0.263-1.312,0.287c-0.685,0.029-1.091,0.044-1.503-0.287C9.465,9.636,9.351,9.45,9.165,9.242   C8.996,9.054,8.783,8.717,8.493,8.73C7.972,8.756,8.135,9.482,7.95,9.977c-2.896,0.456-4.059-1.333-5.085-3.069   C2.368,6.067,1.65,4.261,1.65,4.261l2.048-0.007c0,0,0.657,1.195,0.831,1.503c0.148,0.262,0.311,0.47,0.479,0.704   c0.141,0.194,0.364,0.574,0.608,0.543c0.397-0.051,0.469-1.591,0.223-2.107C5.741,4.688,5.506,4.615,5.263,4.544   C5.345,4.026,7.56,3.918,7.918,4.32c0.52,0.584-0.36,2.21,0.352,2.684c1-0.524,1.854-2.718,1.854-2.718l2.398,0.015   c0,0-0.375,1.186-0.768,1.712c-0.229,0.308-0.989,0.994-0.959,1.503C10.819,7.919,11.437,8.311,11.755,8.635z" fill="#c80000" />

                                            </g>
                                            </svg>
                                    </a>
                                    <a class="in-share" data-js="in-share">
                                        <?xml version="1.0" encoding="iso-8859-1" ?>
                                        <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve">
                                        <g>
                                        <g id="post-linkedin">
                                        <path d="M459,0H51C22.95,0,0,22.95,0,51v408c0,28.05,22.95,51,51,51h408c28.05,0,51-22.95,51-51V51C510,22.95,487.05,0,459,0z     M153,433.5H76.5V204H153V433.5z M114.75,160.65c-25.5,0-45.9-20.4-45.9-45.9s20.4-45.9,45.9-45.9s45.9,20.4,45.9,45.9    S140.25,160.65,114.75,160.65z M433.5,433.5H357V298.35c0-20.399-17.85-38.25-38.25-38.25s-38.25,17.851-38.25,38.25V433.5H204    V204h76.5v30.6c12.75-20.4,40.8-35.7,63.75-35.7c48.45,0,89.25,40.8,89.25,89.25V433.5z" fill="#c80000" />
                                                </g>
                                            </g>
                                            </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="comments_main_container wow fadeIn">
                        <div class="name_area">
                            <input type="text" name="" class="name_input" placeholder="name*" />
                        </div>
                        <div class="comment_area">
                            <textarea class="comment_input" placeholder="comment*"></textarea>
                        </div>
                        <div class="post_comment">
                            <input type="submit" name="" value="post comment" class="post_input" />
                        </div>
                        <div class="posted_comments_container"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="banner_container_right wow fadeIn"></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="for_main_footer_content wow fadeIn">
                        <div class="footer_container">
                            <div class="footer_container_main row">
                                <div class="col-md-6 col-12">
                                    <div class="footer_nav_bar_container">
                                        @foreach (var item in sportCategories)
                                        {
                                            <span class="footer_nav_bar_items">
                                                <a href="/Home/SportsPage/@item.SportCategoryId">@item.SportCategoryName</a>
                                            </span>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="footer_second_column_container">
                                        <div class="footer_not_planned_container">
                                            <div class="contacts_con">
                                                <div class="contacts_title">contacts:</div>
                                                <div class="tel">
                                                    tel: +994 50 123 45 67
                                                </div>
                                                <div class="email">
                                                    email : support@fightsports.com
                                                </div>
                                            </div>
                                            <div class="social_container">
                                                <a href="">
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 60.734 60.733" style="enable-background:new 0 0 60.734 60.733;" xml:space="preserve">
                                                    <g>
                                                    <path d="M57.378,0.001H3.352C1.502,0.001,0,1.5,0,3.353v54.026c0,1.853,1.502,3.354,3.352,3.354h29.086V37.214h-7.914v-9.167h7.914   v-6.76c0-7.843,4.789-12.116,11.787-12.116c3.355,0,6.232,0.251,7.071,0.36v8.198l-4.854,0.002c-3.805,0-4.539,1.809-4.539,4.462   v5.851h9.078l-1.187,9.166h-7.892v23.52h15.475c1.852,0,3.355-1.503,3.355-3.351V3.351C60.731,1.5,59.23,0.001,57.378,0.001z" fill="#c80000"></path>
                                                            </g>
                                                            </svg>
                                                </a>
                                                <a href="">
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 478.161 478.161" style="enable-background:new 0 0 478.161 478.161;" xml:space="preserve" width="512px" height="512px">
                                                    <g>
                                                    <path id="Vimeo_2_" d="M408.173,31.91c-66.405-2.152-111.293,35.125-135.002,111.93c12.133-4.981,23.868-7.511,35.484-7.511   c24.247,0,34.966,13.588,32.157,40.863c-1.395,16.576-12.114,40.584-32.157,72.123c-20.083,31.658-35.026,47.279-44.888,47.279   c-12.97,0-24.725-24.307-35.464-73.119c-3.666-14.285-10.061-50.865-19.366-109.719c-8.607-54.571-31.479-80.013-68.597-76.367   c-15.66,1.415-39.21,15.74-70.569,42.995C46.8,101.124,23.629,122.064,0,142.824l22.534,29.009   C43.951,156.771,56.523,149.2,60.01,149.2c16.497,0,31.778,25.881,46.123,77.463c12.871,47.398,25.741,94.677,38.632,142.174   c19.166,51.502,42.895,77.503,70.689,77.503c45.007,0,100.116-42.437,165.066-127.012c62.699-81.168,95.254-144.984,97.386-191.664   C480.894,65.341,457.624,33.384,408.173,31.91z" fill="#c80000"></path>
                                                            </g>
                                                            </svg>
                                                </a>
                                                <a href="">
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve">
                                                    <g>
                                                    <g id="post-instagram">
                                                    <path d="M459,0H51C22.95,0,0,22.95,0,51v408c0,28.05,22.95,51,51,51h408c28.05,0,51-22.95,51-51V51C510,22.95,487.05,0,459,0z     M255,153c56.1,0,102,45.9,102,102c0,56.1-45.9,102-102,102c-56.1,0-102-45.9-102-102C153,198.9,198.9,153,255,153z M63.75,459    C56.1,459,51,453.9,51,446.25V229.5h53.55C102,237.15,102,247.35,102,255c0,84.15,68.85,153,153,153c84.15,0,153-68.85,153-153    c0-7.65,0-17.85-2.55-25.5H459v216.75c0,7.65-5.1,12.75-12.75,12.75H63.75z M459,114.75c0,7.65-5.1,12.75-12.75,12.75h-51    c-7.65,0-12.75-5.1-12.75-12.75v-51c0-7.65,5.1-12.75,12.75-12.75h51C453.9,51,459,56.1,459,63.75V114.75z" fill="#c80000"></path>
                                                                </g>
                                                            </g>
                                                            </svg>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="partners_and_contacts_container">
                                            <div class="partners_title">partners:</div>
                                            <div class="partners_big_container">
                                                <div class="partners_con_first">
                                                    <div class="partner_item">
                                                        <div class="partner_img">
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 60.734 60.733" style="enable-background:new 0 0 60.734 60.733;" xml:space="preserve">
                                                            <g>
                                                            <path d="M57.378,0.001H3.352C1.502,0.001,0,1.5,0,3.353v54.026c0,1.853,1.502,3.354,3.352,3.354h29.086V37.214h-7.914v-9.167h7.914   v-6.76c0-7.843,4.789-12.116,11.787-12.116c3.355,0,6.232,0.251,7.071,0.36v8.198l-4.854,0.002c-3.805,0-4.539,1.809-4.539,4.462   v5.851h9.078l-1.187,9.166h-7.892v23.52h15.475c1.852,0,3.355-1.503,3.355-3.351V3.351C60.731,1.5,59.23,0.001,57.378,0.001z" fill="#c80000"></path>
                                                            </g>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                    <div class="partner_item">
                                                        <div class="partner_img">
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 60.734 60.733" style="enable-background:new 0 0 60.734 60.733;" xml:space="preserve">
                                                            <g>
                                                            <path d="M57.378,0.001H3.352C1.502,0.001,0,1.5,0,3.353v54.026c0,1.853,1.502,3.354,3.352,3.354h29.086V37.214h-7.914v-9.167h7.914   v-6.76c0-7.843,4.789-12.116,11.787-12.116c3.355,0,6.232,0.251,7.071,0.36v8.198l-4.854,0.002c-3.805,0-4.539,1.809-4.539,4.462   v5.851h9.078l-1.187,9.166h-7.892v23.52h15.475c1.852,0,3.355-1.503,3.355-3.351V3.351C60.731,1.5,59.23,0.001,57.378,0.001z" fill="#c80000"></path>
                                                            </g>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                    <div class="partner_item">
                                                        <div class="partner_img">
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 60.734 60.733" style="enable-background:new 0 0 60.734 60.733;" xml:space="preserve">
                                                            <g>
                                                            <path d="M57.378,0.001H3.352C1.502,0.001,0,1.5,0,3.353v54.026c0,1.853,1.502,3.354,3.352,3.354h29.086V37.214h-7.914v-9.167h7.914   v-6.76c0-7.843,4.789-12.116,11.787-12.116c3.355,0,6.232,0.251,7.071,0.36v8.198l-4.854,0.002c-3.805,0-4.539,1.809-4.539,4.462   v5.851h9.078l-1.187,9.166h-7.892v23.52h15.475c1.852,0,3.355-1.503,3.355-3.351V3.351C60.731,1.5,59.23,0.001,57.378,0.001z" fill="#c80000"></path>
                                                            </g>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                    <div class="partner_item">
                                                        <div class="partner_img">
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 60.734 60.733" style="enable-background:new 0 0 60.734 60.733;" xml:space="preserve">
                                                            <g>
                                                            <path d="M57.378,0.001H3.352C1.502,0.001,0,1.5,0,3.353v54.026c0,1.853,1.502,3.354,3.352,3.354h29.086V37.214h-7.914v-9.167h7.914   v-6.76c0-7.843,4.789-12.116,11.787-12.116c3.355,0,6.232,0.251,7.071,0.36v8.198l-4.854,0.002c-3.805,0-4.539,1.809-4.539,4.462   v5.851h9.078l-1.187,9.166h-7.892v23.52h15.475c1.852,0,3.355-1.503,3.355-3.351V3.351C60.731,1.5,59.23,0.001,57.378,0.001z" fill="#c80000"></path>
                                                            </g>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                    <div class="partner_item">
                                                        <div class="partner_img">
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 60.734 60.733" style="enable-background:new 0 0 60.734 60.733;" xml:space="preserve">
                                                            <g>
                                                            <path d="M57.378,0.001H3.352C1.502,0.001,0,1.5,0,3.353v54.026c0,1.853,1.502,3.354,3.352,3.354h29.086V37.214h-7.914v-9.167h7.914   v-6.76c0-7.843,4.789-12.116,11.787-12.116c3.355,0,6.232,0.251,7.071,0.36v8.198l-4.854,0.002c-3.805,0-4.539,1.809-4.539,4.462   v5.851h9.078l-1.187,9.166h-7.892v23.52h15.475c1.852,0,3.355-1.503,3.355-3.351V3.351C60.731,1.5,59.23,0.001,57.378,0.001z" fill="#c80000"></path>
                                                            </g>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="partners_con_second">
                                                    <div class="partner_item">
                                                        <div class="partner_img">
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 60.734 60.733" style="enable-background:new 0 0 60.734 60.733;" xml:space="preserve">
                                                            <g>
                                                            <path d="M57.378,0.001H3.352C1.502,0.001,0,1.5,0,3.353v54.026c0,1.853,1.502,3.354,3.352,3.354h29.086V37.214h-7.914v-9.167h7.914   v-6.76c0-7.843,4.789-12.116,11.787-12.116c3.355,0,6.232,0.251,7.071,0.36v8.198l-4.854,0.002c-3.805,0-4.539,1.809-4.539,4.462   v5.851h9.078l-1.187,9.166h-7.892v23.52h15.475c1.852,0,3.355-1.503,3.355-3.351V3.351C60.731,1.5,59.23,0.001,57.378,0.001z" fill="#c80000"></path>
                                                            </g>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                    <div class="partner_item">
                                                        <div class="partner_img">
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 60.734 60.733" style="enable-background:new 0 0 60.734 60.733;" xml:space="preserve">
                                                            <g>
                                                            <path d="M57.378,0.001H3.352C1.502,0.001,0,1.5,0,3.353v54.026c0,1.853,1.502,3.354,3.352,3.354h29.086V37.214h-7.914v-9.167h7.914   v-6.76c0-7.843,4.789-12.116,11.787-12.116c3.355,0,6.232,0.251,7.071,0.36v8.198l-4.854,0.002c-3.805,0-4.539,1.809-4.539,4.462   v5.851h9.078l-1.187,9.166h-7.892v23.52h15.475c1.852,0,3.355-1.503,3.355-3.351V3.351C60.731,1.5,59.23,0.001,57.378,0.001z" fill="#c80000"></path>
                                                            </g>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                    <div class="partner_item">
                                                        <div class="partner_img">
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 60.734 60.733" style="enable-background:new 0 0 60.734 60.733;" xml:space="preserve">
                                                            <g>
                                                            <path d="M57.378,0.001H3.352C1.502,0.001,0,1.5,0,3.353v54.026c0,1.853,1.502,3.354,3.352,3.354h29.086V37.214h-7.914v-9.167h7.914   v-6.76c0-7.843,4.789-12.116,11.787-12.116c3.355,0,6.232,0.251,7.071,0.36v8.198l-4.854,0.002c-3.805,0-4.539,1.809-4.539,4.462   v5.851h9.078l-1.187,9.166h-7.892v23.52h15.475c1.852,0,3.355-1.503,3.355-3.351V3.351C60.731,1.5,59.23,0.001,57.378,0.001z" fill="#c80000"></path>
                                                            </g>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                    <div class="partner_item">
                                                        <div class="partner_img">
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 60.734 60.733" style="enable-background:new 0 0 60.734 60.733;" xml:space="preserve">
                                                            <g>
                                                            <path d="M57.378,0.001H3.352C1.502,0.001,0,1.5,0,3.353v54.026c0,1.853,1.502,3.354,3.352,3.354h29.086V37.214h-7.914v-9.167h7.914   v-6.76c0-7.843,4.789-12.116,11.787-12.116c3.355,0,6.232,0.251,7.071,0.36v8.198l-4.854,0.002c-3.805,0-4.539,1.809-4.539,4.462   v5.851h9.078l-1.187,9.166h-7.892v23.52h15.475c1.852,0,3.355-1.503,3.355-3.351V3.351C60.731,1.5,59.23,0.001,57.378,0.001z" fill="#c80000"></path>
                                                            </g>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                    <div class="partner_item">
                                                        <div class="partner_img">
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 60.734 60.733" style="enable-background:new 0 0 60.734 60.733;" xml:space="preserve">
                                                            <g>
                                                            <path d="M57.378,0.001H3.352C1.502,0.001,0,1.5,0,3.353v54.026c0,1.853,1.502,3.354,3.352,3.354h29.086V37.214h-7.914v-9.167h7.914   v-6.76c0-7.843,4.789-12.116,11.787-12.116c3.355,0,6.232,0.251,7.071,0.36v8.198l-4.854,0.002c-3.805,0-4.539,1.809-4.539,4.462   v5.851h9.078l-1.187,9.166h-7.892v23.52h15.475c1.852,0,3.355-1.503,3.355-3.351V3.351C60.731,1.5,59.23,0.001,57.378,0.001z" fill="#c80000"></path>
                                                            </g>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer_footer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @foreach (var item in Model)
    {
       <div class="lat" style="display:none;">@item.OptionalLatitude</div>
       <div class="long" style="display:none;">@item.OptionalLongitude</div>
    }




    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous">
    </script>
    <script src="~/js/owl.carousel.min.js">
    </script>
    <script src="~/js/wow.min.js">
    </script>
    <script src="~/js/jquery.sliderPro.min.js">
    </script>
    <script src="~/js/federation.js">
    </script>
    <script async= async async= async async= async async= async defer= defer defer= defer defer= defer defer= defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANiE26jGeBafh8JelcM8cKZfpYqMtAuJU&language=en&region=us&callback=initMap">
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js">
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/az.js">
    </script>
    <script type="text/javascript">
        function initMap() {
            var lat = $('.lat').text()
            var long = $('.long').text()
            var f = parseFloat(long)
            var h = parseFloat(lat)
            console.log(f)
            console.log(h)

        var cords = { lat: h, lng: f };
        var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 14,
        center: cords,
        styles: [
        { elementType: 'geometry', stylers: [{ color: '#000000' }] },
        { elementType: 'labels.text.stroke', stylers: [{ color: '#000000' }] },
        { elementType: 'labels.text.fill', stylers: [{ color: '#746855' }] },
        {
        featureType: 'administrative.locality',
        elementType: 'labels.text.fill',
        stylers: [{ color: '#d59563' }]
        },
        {
        featureType: 'poi',
        elementType: 'labels.text.fill',
        stylers: [{ color: '#d59563' }]
        },
        {
        featureType: 'poi.park',
        elementType: 'geometry',
        stylers: [{ color: '#263c3f' }]
        },
        {
        featureType: 'poi.park',
        elementType: 'labels.text.fill',
        stylers: [{ color: '#6b9a76' }]
        },
        {
        featureType: 'road',
        elementType: 'geometry',
        stylers: [{ color: '#38414e' }]
        },
        {
        featureType: 'road',
        elementType: 'geometry.stroke',
        stylers: [{ color: '#212a37' }]
        },
        {
        featureType: 'road',
        elementType: 'labels.text.fill',
        stylers: [{ color: '#9ca5b3' }]
        },
        {
        featureType: 'road.highway',
        elementType: 'geometry',
        stylers: [{ color: '#746855' }]
        },
        {
        featureType: 'road.highway',
        elementType: 'geometry.stroke',
        stylers: [{ color: '#1f2835' }]
        },
        {
        featureType: 'road.highway',
        elementType: 'labels.text.fill',
        stylers: [{ color: '#f3d19c' }]
        },
        {
        featureType: 'transit',
        elementType: 'geometry',
        stylers: [{ color: '#2f3948' }]
        },
        {
        featureType: 'transit.station',
        elementType: 'labels.text.fill',
        stylers: [{ color: '#d59563' }]
        },
        {
        featureType: 'water',
        elementType: 'geometry',
        stylers: [{ color: '#blue' }]
        },
        {
        featureType: 'water',
        elementType: 'labels.text.fill',
        stylers: [{ color: '#515c6d' }]
        },
        {
        featureType: 'water',
        elementType: 'labels.text.stroke',
        stylers: [{ color: '#17263c' }]
        }
        ]
        })
        var marker = new google.maps.Marker({
        position: cords,
        map: map
        })
        }
    </script>
    <script type="text/javascript">
       $(document).ready(function(){
            var url = window.location.href;
            var id = url.substring(url.lastIndexOf('/') + 1);

            $('.post_input').click(function(){

                var time = moment().format('llll')

                obj = {
                    CommentDate : time,
                    AuthorName : $('.name_input').val(),
                    CommentTxt : $('.comment_input').val(),
                    NewsId : id,
                    AbstractCommentType : "news"
                }

                $.ajax({
                    url:"/Comments/Create",
                    type:"POST",
                    data:JSON.stringify(obj),
                    dataType: "json",
                    contentType: "application/json;charset=utf-8"
                })

                var nameInput = $('.name_input').val('')
                var commentInput = $('.comment_input').val('')

                setTimeout(function(){
                    getComms()
                },500)
            })

            setTimeout(function(){
                 getComms()
            },500)

            function getComms () {
                $.ajax({
                    url: "/Comments/GetNewsCommentsById/" + id,
                    type: "GET",
                    dataType: "json",
                    success: function(data) {
                        var commenCon = $('.posted_comments_container')
                        commenCon.empty()

                        $.each(data,function(index,val){

                            var comment = '<div class="comment_item_container">'+
                                             '<div class="comment_author_pic">'+
                                                    '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 482.9 482.9" style="enable-background:new 0 0 482.9 482.9;" xml:space="preserve" width="512px" height="512px">'+
                                                        '<g>'+
                                                            +'<g>'+
                                                                '<path d="M239.7,260.2c0.5,0,1,0,1.6,0c0.2,0,0.4,0,0.6,0c0.3,0,0.7,0,1,0c29.3-0.5,53-10.8,70.5-30.5    c38.5-43.4,32.1-117.8,31.4-124.9c-2.5-53.3-27.7-78.8-48.5-90.7C280.8,5.2,262.7,0.4,242.5,0h-0.7c-0.1,0-0.3,0-0.4,0h-0.6    c-11.1,0-32.9,1.8-53.8,13.7c-21,11.9-46.6,37.4-49.1,91.1c-0.7,7.1-7.1,81.5,31.4,124.9C186.7,249.4,210.4,259.7,239.7,260.2z     M164.6,107.3c0-0.3,0.1-0.6,0.1-0.8c3.3-71.7,54.2-79.4,76-79.4h0.4c0.2,0,0.5,0,0.8,0c27,0.6,72.9,11.6,76,79.4    c0,0.3,0,0.6,0.1,0.8c0.1,0.7,7.1,68.7-24.7,104.5c-12.6,14.2-29.4,21.2-51.5,21.4c-0.2,0-0.3,0-0.5,0l0,0c-0.2,0-0.3,0-0.5,0    c-22-0.2-38.9-7.2-51.4-21.4C157.7,176.2,164.5,107.9,164.6,107.3z" fill="#FFFFFF"></path>'+
                                                                '<path d="M446.8,383.6c0-0.1,0-0.2,0-0.3c0-0.8-0.1-1.6-0.1-2.5c-0.6-19.8-1.9-66.1-45.3-80.9c-0.3-0.1-0.7-0.2-1-0.3    c-45.1-11.5-82.6-37.5-83-37.8c-6.1-4.3-14.5-2.8-18.8,3.3c-4.3,6.1-2.8,14.5,3.3,18.8c1.7,1.2,41.5,28.9,91.3,41.7    c23.3,8.3,25.9,33.2,26.6,56c0,0.9,0,1.7,0.1,2.5c0.1,9-0.5,22.9-2.1,30.9c-16.2,9.2-79.7,41-176.3,41    c-96.2,0-160.1-31.9-176.4-41.1c-1.6-8-2.3-21.9-2.1-30.9c0-0.8,0.1-1.6,0.1-2.5c0.7-22.8,3.3-47.7,26.6-56    c49.8-12.8,89.6-40.6,91.3-41.7c6.1-4.3,7.6-12.7,3.3-18.8c-4.3-6.1-12.7-7.6-18.8-3.3c-0.4,0.3-37.7,26.3-83,37.8    c-0.4,0.1-0.7,0.2-1,0.3c-43.4,14.9-44.7,61.2-45.3,80.9c0,0.9,0,1.7-0.1,2.5c0,0.1,0,0.2,0,0.3c-0.1,5.2-0.2,31.9,5.1,45.3    c1,2.6,2.8,4.8,5.2,6.3c3,2,74.9,47.8,195.2,47.8s192.2-45.9,195.2-47.8c2.3-1.5,4.2-3.7,5.2-6.3    C447,415.5,446.9,388.8,446.8,383.6z" fill="#FFFFFF"></path>'+
                                                            +'</g>'+
                                                        +'</g>'+
                                                    '</svg>'+
                                             '</div>' +
                                             '<div class="comment_sets">'+
                                                    '<div class="comment_date">' + val.commentDate + '</div>' +
                                                    '<div class="cooment_author_name">' + val.authorName + '</div>' +
                                                    '<div class="comment_txt">' + val.commentTxt + '</div>' +
                                             '</div>'
                                           '</div>'
                            commenCon.append(comment)
                        })
                    }
                })
            }
        })

        $('.search_button').click(function(){
            var data = $('.search_area').val()
            $.ajax({
                url:"/Home/Search/" + data,
                type:"GET",
                dataType: "json",
                success:function(data){
                   $('#modal03').modal('show');
                    var searchList = $('.search_list')
                    searchList.empty()

                    $.each(data,function(index,val){
                        var result = '<div class="search_list_item">' + 
                                        '<a class="list_item_href" href="/Home/News/' + val.newsId + '">' 
                                            + '<div>' + val.newsTitle + '</div>' 
                                            + '<div class="news_search_bg">' + val.newsBigTitle + '</div>' + 
                                         '</a>' + 
                                      '</div>';
                        searchList.append(result)
                    })
                }
            })
        })
    </script>

</body>
</html>