@model WebApplication1.ViewModel


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32"> -->
    <title>FightSports</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin:500" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" />
</head>
<body class="animated fadeIn">
    <div class="page_background_img" style="background-image:url(/blocks.jpg)"></div>
    <div class="modal fade" id="modal03" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog02 modal-dialog-centered" role="document">
            <div class="modal-content02 modal-content">
                @*<div class="no_result_con">no results</div>*@
                <div class="search_list"></div>
            </div>
        </div>
    </div>
    <div class="main_container">
        <div class="container">
            <div class="up_thin_footer_container">
                <div class="logo_container">
                    <a href="/Home/Index">
                        <img class="img-fluid" src="images/ufc_logo.png" />
                    </a>
                </div>
                <div class="search_container_main">
                    <input class="search_area" id="search-text" type="text" />
                    <button type="button" class="search_button myBtn03">
                        go
                    </button>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="full_nav_bar_container">
                <div class="nav_bar_container">
                    @foreach (var item in Model.SportCategories.Take(12))
                    {
                        <span class="nav_bar_items">
                            <a href="/Home/SportsPage/@item.SportCategoryId">@item.SportCategoryName</a>
                        </span>
                    }
                </div>
                <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle" href="" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        more
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        @foreach (var item in Model.SportCategories.Skip(12))
                        {
                            <a class="dropdown-item" href="@item.SportCategoryId">@item.SportCategoryName</a>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="main_news_feed_container">
            <div class="container">
                <div id="owl-one" class="owl-carousel owl-theme">
                    @foreach (var item in Model.News.Where(x => x.NewsType.NewsTypeName != "federasiya" && x.NewsType.NewsTypeName != "klub").TakeLast(5))
                    {
                        <div class="item" data-dot="<div class='owl-dot'><span></span></div>">
                            <a class="main_link" href="/Home/News/@item.NewsId">
                                <div class="carousel_overlay"></div>
                                <div class="main_feed_container">
                                    <div class="news_info_container">
                                        <div class="news_feed_small_title">
                                            @item.NewsTitle
                                        </div>
                                        <div class="news_feed_date_container">
                                            @*<div class="week_day">saturday</div>*@
                                            <br />
                                            <div class="day_time">@item.NewsBigTitle</div>
                                            <br />
                                            <div class="little_info"></div>
                                        </div>
                                        <div class="news_feed_adress">
                                            <div class="building_name">@item.SportCategory.SportCategoryName</div>
                                            <br />
                                            @*<div class="city_name">@item.NewsAddedDate</div>*@
                                        </div>
                                        <div class="show_more_button">show more</div>
                                    </div>
                                    <div class="news_feed_img_container">
                                        <div class="news_feed_background_img" style="background-image:url(@Url.Content(item.NewsFirstPhotoPath)"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="container news_tab_padding">
            <div class="row">
                <div class="col-md-8">
                    <div class="module_item_title">spotlight</div>
                    <div class="news_tab_container wow fadeIn">
                        <div id="owl-eight" class="owl-carousel owl-theme">
                            @for (var i = 0; i < Model.News.Where(x=>x.NewsType.NewsTypeName == "infolent").ToList().Count / 3.0; i++)
                            {
                                <div class="item">
                                    @foreach (var item in Model.News.Where(x => x.NewsType.NewsTypeName == "infolent").Skip(i * 3).Take(3))
                                    {
                                        <a href="/Home/News/@item.NewsId">
                                            <div class="news_tab_container_items">
                                                <div class="tab_background_img_con">
                                                    <div class="tab_background_img" style="background-image:url(@Url.Content(item.NewsFirstPhotoPath)"></div>
                                                </div>
                                                <div class="item_content">
                                                    <div class="content_title">@item.NewsTitle</div>
                                                    <div class="small_info">
                                                        @item.NewsBigTitle
                                                    </div>
                                                    <div class="post_date_and_seen_times">
                                                        <div class="post_date">
                                                            @item.NewsAddedDate
                                                        </div>
                                                        <div class="seen_times">
                                                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55.312px" height="55.312px" viewBox="0 0 55.312 55.312" style="enable-background:new 0 0 55.312 55.312;" xml:space="preserve">
                                                            <g>
                                                                <g>
                                                                    <g>
                                                                            <path d="M28.042,45.438c-9.428,0-18.675-5.251-27.485-15.606c-0.684-0.804-0.744-1.965-0.148-2.835
                                                                                            c0.479-0.7,11.914-17.124,27.963-17.124c9.511,0,18.429,5.75,26.506,17.089c0.564,0.793,0.579,1.852,0.037,2.659
                                                                                            C54.482,30.266,44.105,45.438,28.042,45.438z M5.348,28.211c7.487,8.332,15.115,12.553,22.694,12.553
                                                                                            c11.041,0,19.297-9.045,22.025-12.465c-6.859-9.126-14.151-13.752-21.694-13.752C17.329,14.546,8.36,24.447,5.348,28.211z"></path>
                                                                    </g>
                                                                            <path d="M27.656,16.407c-6.212,0-11.247,5.035-11.247,11.248c0,6.211,5.035,11.247,11.247,11.247
                                                                                        c6.211,0,11.247-5.036,11.247-11.247C38.903,21.443,33.868,16.407,27.656,16.407z M31.685,27.822
                                                                                        c-2.503,0-4.532-2.029-4.532-4.531c0-2.504,2.029-4.533,4.532-4.533c2.504,0,4.533,2.029,4.533,4.533
                                                                                        C36.218,25.792,34.188,27.822,31.685,27.822z"></path>
                                                                </g>
                                                            </g>
                                                            </svg>
                                                            @item.NewsViews
                                                        </div>
                                                        <div class="read_more_button">
                                                            read more
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="banner_container wow fadeIn">

                    </div>
                </div>
            </div>
        </div>
        <div class="news_big_slider wow fadeIn">
            <div class="container">
                <div class="module_item_title">spotlight</div>
                <div id="owl-two" class="owl-carousel owl-theme">
                    @for (int i = 0; i < Model.News.Where(x => x.NewsType.NewsTypeName == "tibb").ToList().Count / 8.0; i++) 
                    {
                        <div class="item" data-dot="<div class='owl-dot'><span></span></div>">
                            <div class="container no_padding">
                                <div class="main_row_container">
                                    <div class="row first_row">
                                        @foreach (var item in Model.News.Where(x => x.NewsType.NewsTypeName == "tibb").Skip(i * 8).Take(8))
                                        {
                                            <div class="col-md-3 col-sm-3 col-3 for_hover">
                                                <a href="/Home/News/@item.NewsId">
                                                    @*<img class="img-fluid img_example" src="@item.NewsFirstPhotoPath" />*@
                                                    <div class="owl_two_module_content_img_con">
                                                        <div class="owl_two_module_content_img" style="background-image:url(@item.NewsFirstPhotoPath)"></div>
                                                    </div>
                                                    <div class="row_content">
                                                        <div class="content_title">@item.NewsTitle</div>
                                                        <!-- <div class="small_info">
                                                            After three weeks off, the Ultimate Fighting Championship  returns with a Fox Sports 1 offering headlined by
                                                            Justin Gaethje and James Vick
                                                        </div> -->
                                                        <div class="post_date_and_seen_times">
                                                            <div class="post_date">
                                                                @item.NewsAddedDate
                                                            </div>
                                                            <div class="seen_times">
                                                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55.312px" height="55.312px" viewBox="0 0 55.312 55.312" style="enable-background:new 0 0 55.312 55.312;" xml:space="preserve">
                                                                <g>
                                                                <g>
                                                                <g>
                                                                <path d="M28.042,45.438c-9.428,0-18.675-5.251-27.485-15.606c-0.684-0.804-0.744-1.965-0.148-2.835
                                                                            c0.479-0.7,11.914-17.124,27.963-17.124c9.511,0,18.429,5.75,26.506,17.089c0.564,0.793,0.579,1.852,0.037,2.659
                                                                            C54.482,30.266,44.105,45.438,28.042,45.438z M5.348,28.211c7.487,8.332,15.115,12.553,22.694,12.553
                                                                            c11.041,0,19.297-9.045,22.025-12.465c-6.859-9.126-14.151-13.752-21.694-13.752C17.329,14.546,8.36,24.447,5.348,28.211z"></path>
                                                                    </g>
                                                                <path d="M27.656,16.407c-6.212,0-11.247,5.035-11.247,11.248c0,6.211,5.035,11.247,11.247,11.247
                                                                        c6.211,0,11.247-5.036,11.247-11.247C38.903,21.443,33.868,16.407,27.656,16.407z M31.685,27.822
                                                                        c-2.503,0-4.532-2.029-4.532-4.531c0-2.504,2.029-4.533,4.532-4.533c2.504,0,4.533,2.029,4.533,4.533
                                                                        C36.218,25.792,34.188,27.822,31.685,27.822z"></path>
                                                                </g>
                                                            </g>
                                                            </svg>
                                                                @item.NewsViews
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="small_news_modules_container">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="small_news_module_row_container wow fadeIn">
                            <div class="module_item_title">spotlight</div>
                            <div id="owl-three" class="owl-carousel owl-theme">
                                @for (int i = 0; i < Model.News.Where(x => x.NewsType.NewsTypeName == "reportaj").ToList().Count / 3.0; i++)
                                {
                                    <div class="item">
                                        @foreach (var item in Model.News.Where(x => x.NewsType.NewsTypeName == "reportaj").Skip(i * 3).Take(3))
                                        {
                                            <div class="small_module_con_item">
                                                <a href="/Home/News/@item.NewsId">
                                                    <div class="small_module_item_content_main no_border">
                                                        <div class="module_content_img_con">
                                                            <div class="module_content_img" style="background-image:url(@Url.Content(item.NewsFirstPhotoPath)"></div>
                                                        </div>
                                                        <div class="small_module_item_content">
                                                            <div class="small_module_content_title">@item.NewsTitle</div>
                                                            <div class="small_module_small_info">
                                                                @item.NewsBigTitle
                                                            </div>
                                                            <div class="small_module_post_date_and_seen_times">
                                                                <div class="small_module_post_date">
                                                                    @item.NewsAddedDate
                                                                </div>
                                                                <div class="small_module_seen_times">
                                                                    <!--?xml version="1.0" encoding="iso-8859-1"?-->
                                                                    <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55.312px" height="55.312px" viewBox="0 0 55.312 55.312" style="enable-background:new 0 0 55.312 55.312;" xml:space="preserve">
                                                                            <g>
                                                                            <g>
                                                                            <g>
                                                                            <path d="M28.042,45.438c-9.428,0-18.675-5.251-27.485-15.606c-0.684-0.804-0.744-1.965-0.148-2.835
                                                                                    c0.479-0.7,11.914-17.124,27.963-17.124c9.511,0,18.429,5.75,26.506,17.089c0.564,0.793,0.579,1.852,0.037,2.659
                                                                                    C54.482,30.266,44.105,45.438,28.042,45.438z M5.348,28.211c7.487,8.332,15.115,12.553,22.694,12.553
                                                                                    c11.041,0,19.297-9.045,22.025-12.465c-6.859-9.126-14.151-13.752-21.694-13.752C17.329,14.546,8.36,24.447,5.348,28.211z"></path>
                                                                            </g>
                                                                            <path d="M27.656,16.407c-6.212,0-11.247,5.035-11.247,11.248c0,6.211,5.035,11.247,11.247,11.247
                                                                                c6.211,0,11.247-5.036,11.247-11.247C38.903,21.443,33.868,16.407,27.656,16.407z M31.685,27.822
                                                                                c-2.503,0-4.532-2.029-4.532-4.531c0-2.504,2.029-4.533,4.532-4.533c2.504,0,4.533,2.029,4.533,4.533
                                                                                C36.218,25.792,34.188,27.822,31.685,27.822z"></path>
                                                                        </g>
                                                                    </g>
                                                                    </svg>
                                                                    @item.NewsViews
                                                                </div>
                                                                <div class="small_module_read_more_button">
                                                                    read more
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>

                                        }
                                    </div>

                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="small_news_module_row_container wow fadeIn">
                            <div class="module_item_title">spotlight</div>
                            <div id="owl-four" class="owl-carousel owl-theme">
                                @for (int i = 0; i < Model.News.Where(x => x.NewsType.NewsTypeName == "ekskluziv").ToList().Count / 3.0; i++)
                                {
                                    <div class="item">
                                        @foreach (var item in Model.News.Where(x => x.NewsType.NewsTypeName == "ekskluziv").Skip(i * 3).Take(3))
                                        {
                                            <div class="small_module_con_item">
                                                <a href="/Home/News/@item.NewsId">
                                                    <div class="small_module_item_content_main no_border">
                                                        <div class="module_content_img_con">
                                                            <div class="module_content_img" style="background-image:url(@Url.Content(item.NewsFirstPhotoPath)"></div>
                                                        </div>
                                                        <div class="small_module_item_content">
                                                            <div class="small_module_content_title">@item.NewsTitle</div>
                                                            <div class="small_module_small_info">
                                                                @item.NewsBigTitle
                                                            </div>
                                                            <div class="small_module_post_date_and_seen_times">
                                                                <div class="small_module_post_date">
                                                                    @item.NewsAddedDate
                                                                </div>
                                                                <div class="small_module_seen_times">
                                                                    <!--?xml version="1.0" encoding="iso-8859-1"?-->
                                                                    <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55.312px" height="55.312px" viewBox="0 0 55.312 55.312" style="enable-background:new 0 0 55.312 55.312;" xml:space="preserve">
                                                                            <g>
                                                                            <g>
                                                                            <g>
                                                                            <path d="M28.042,45.438c-9.428,0-18.675-5.251-27.485-15.606c-0.684-0.804-0.744-1.965-0.148-2.835
                                                                                    c0.479-0.7,11.914-17.124,27.963-17.124c9.511,0,18.429,5.75,26.506,17.089c0.564,0.793,0.579,1.852,0.037,2.659
                                                                                    C54.482,30.266,44.105,45.438,28.042,45.438z M5.348,28.211c7.487,8.332,15.115,12.553,22.694,12.553
                                                                                    c11.041,0,19.297-9.045,22.025-12.465c-6.859-9.126-14.151-13.752-21.694-13.752C17.329,14.546,8.36,24.447,5.348,28.211z"></path>
                                                                            </g>
                                                                            <path d="M27.656,16.407c-6.212,0-11.247,5.035-11.247,11.248c0,6.211,5.035,11.247,11.247,11.247
                                                                                c6.211,0,11.247-5.036,11.247-11.247C38.903,21.443,33.868,16.407,27.656,16.407z M31.685,27.822
                                                                                c-2.503,0-4.532-2.029-4.532-4.531c0-2.504,2.029-4.533,4.532-4.533c2.504,0,4.533,2.029,4.533,4.533
                                                                                C36.218,25.792,34.188,27.822,31.685,27.822z"></path>
                                                                        </g>
                                                                    </g>
                                                                    </svg>
                                                                    @item.NewsViews
                                                                </div>
                                                                <div class="small_module_read_more_button">
                                                                    read more
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>

                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="banner_second_container wow fadeIn">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="iframe_con"><pre id="myCode"></pre></div>
                </div>
            </div>
        </div>
        <div class="container panel_padd">
            <div class="tabs_container wow fadeIn">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#video" role="tab" data-toggle="tab">video</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#foto" role="tab" data-toggle="tab">foto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#masterklass" role="tab" data-toggle="tab">master klass</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#fsftv" role="tab" data-toggle="tab">fsf tv</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active show" id="video">
                        <div id="owl-nine" class="owl-carousel owl-theme">
                            @for (int i = 0; i < Model.News.Where(x => x.NewsFirstVideoPath != null).ToList().Count / 8.0; i++) 
                            {
                                <div class="item">
                                    <div class="container">
                                        <div class="tab_main_row_container">
                                            <div class="row tab_first_row">
                                                @foreach (var item in Model.News.Where(x => x.NewsFirstVideoPath != null).Skip(i * 8).Take(8))
                                                {
                                                    <div class="col-md-3 col-sm-3 col-3 tab_for_hover">
                                                        <a>
                                                            <div class="video_svg myBtn01">
                                                                <div class="my_url">@item.NewsFirstVideoPath</div>
                                                                <?xml version="1.0" encoding="iso-8859-1" ?>
                                                                <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 41.999 41.999" style="enable-background:new 0 0 41.999 41.999;" xml:space="preserve" width="512px" height="512px">
                                                                <path d="M36.068,20.176l-29-20C6.761-0.035,6.363-0.057,6.035,0.114C5.706,0.287,5.5,0.627,5.5,0.999v40  c0,0.372,0.206,0.713,0.535,0.886c0.146,0.076,0.306,0.114,0.465,0.114c0.199,0,0.397-0.06,0.568-0.177l29-20  c0.271-0.187,0.432-0.494,0.432-0.823S36.338,20.363,36.068,20.176z" fill="#c80000" />

                                                                <g>
                                                                </g>
                                                                </svg>
                                                            </div>
                                                            <div class="owl_nine_module_content_img_con">
                                                                <div class="owl_nine_module_content_img" style="background-image:url(@item.NewsFirstPhotoPath)"></div>
                                                            </div>
                                                            <a href="/Home/Videos" class="tab_content_title for_res_width">@item.NewsTitle</a>
                                                            <div class="tab_row_content">
                                                                <!-- <div class="small_info">
                                                                    After three weeks off, the Ultimate Fighting Championship  returns with a Fox Sports 1 offering headlined by
                                                                    Justin Gaethje and James Vick
                                                                </div> -->
                                                                <div class="tab_post_date_and_seen_times">
                                                                    <div class="tab_post_date">
                                                                        @item.NewsAddedDate
                                                                    </div>
                                                                    <div class="tab_seen_times">
                                                                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55.312px" height="55.312px" viewBox="0 0 55.312 55.312" style="enable-background:new 0 0 55.312 55.312;" xml:space="preserve">
                                                                        <g>
                                                                        <g>
                                                                        <g>
                                                                        <path d="M28.042,45.438c-9.428,0-18.675-5.251-27.485-15.606c-0.684-0.804-0.744-1.965-0.148-2.835
                                                                                    c0.479-0.7,11.914-17.124,27.963-17.124c9.511,0,18.429,5.75,26.506,17.089c0.564,0.793,0.579,1.852,0.037,2.659
                                                                                    C54.482,30.266,44.105,45.438,28.042,45.438z M5.348,28.211c7.487,8.332,15.115,12.553,22.694,12.553
                                                                                    c11.041,0,19.297-9.045,22.025-12.465c-6.859-9.126-14.151-13.752-21.694-13.752C17.329,14.546,8.36,24.447,5.348,28.211z"></path>
                                                                            </g>
                                                                        <path d="M27.656,16.407c-6.212,0-11.247,5.035-11.247,11.248c0,6.211,5.035,11.247,11.247,11.247
                                                                                c6.211,0,11.247-5.036,11.247-11.247C38.903,21.443,33.868,16.407,27.656,16.407z M31.685,27.822
                                                                                c-2.503,0-4.532-2.029-4.532-4.531c0-2.504,2.029-4.533,4.532-4.533c2.504,0,4.533,2.029,4.533,4.533
                                                                                C36.218,25.792,34.188,27.822,31.685,27.822z"></path>
                                                                        </g>
                                                                    </g>
                                                                    </svg>
                                                                        @item.NewsViews
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="foto">
                        <div id="owl-ten" class="owl-carousel">
                            @for (int i = 0; i < Model.News.Where(x=>x.NewsType.NewsTypeName == "foto").ToList().Count / 8.0; i++)
                            {
                                <div class="item">
                                    <div class="container">
                                        <div class="foto_tab_main_row_container">
                                            <div class="row foto_tab_first_row">
                                                @foreach (var item in Model.News.Where(x => x.NewsType.NewsTypeName == "foto").Skip(i * 8).Take(8))
                                                {
                                                    <div class="col-md-3 col-sm-3 col-3 foto_tab_for_hover">
                                                        <a href="/Home/Photos">
                                                            <div class="owl_nine_module_content_img_con">
                                                                <div class="owl_nine_module_content_img" style="background-image:url(@item.NewsFirstPhotoPath)"></div>
                                                            </div>
                                                            <div class="foto_tab_row_content">
                                                                <div class="foto_tab_content_title">@item.NewsTitle</div>
                                                                <!-- <div class="small_info">
                                                                    After three weeks off, the Ultimate Fighting Championship  returns with a Fox Sports 1 offering headlined by
                                                                    Justin Gaethje and James Vick
                                                                </div> -->
                                                                <div class="foto_tab_post_date_and_seen_times">
                                                                    <div class="foto_tab_post_date">
                                                                        @item.NewsAddedDate
                                                                    </div>
                                                                    <div class="foto_tab_seen_times">
                                                                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55.312px" height="55.312px" viewBox="0 0 55.312 55.312" style="enable-background:new 0 0 55.312 55.312;" xml:space="preserve">
                                                                        <g>
                                                                        <g>
                                                                        <g>
                                                                        <path d="M28.042,45.438c-9.428,0-18.675-5.251-27.485-15.606c-0.684-0.804-0.744-1.965-0.148-2.835
                                                                                    c0.479-0.7,11.914-17.124,27.963-17.124c9.511,0,18.429,5.75,26.506,17.089c0.564,0.793,0.579,1.852,0.037,2.659
                                                                                    C54.482,30.266,44.105,45.438,28.042,45.438z M5.348,28.211c7.487,8.332,15.115,12.553,22.694,12.553
                                                                                    c11.041,0,19.297-9.045,22.025-12.465c-6.859-9.126-14.151-13.752-21.694-13.752C17.329,14.546,8.36,24.447,5.348,28.211z"></path>
                                                                            </g>
                                                                        <path d="M27.656,16.407c-6.212,0-11.247,5.035-11.247,11.248c0,6.211,5.035,11.247,11.247,11.247
                                                                                c6.211,0,11.247-5.036,11.247-11.247C38.903,21.443,33.868,16.407,27.656,16.407z M31.685,27.822
                                                                                c-2.503,0-4.532-2.029-4.532-4.531c0-2.504,2.029-4.533,4.532-4.533c2.504,0,4.533,2.029,4.533,4.533
                                                                                C36.218,25.792,34.188,27.822,31.685,27.822z"></path>
                                                                        </g>
                                                                    </g>
                                                                    </svg>
                                                                        @item.NewsViews
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="masterklass">
                        <div id="owl-eleven" class="owl-carousel owl-theme">
                            @for (int i = 0; i < Model.News.Where(x=>x.NewsType.NewsTypeName == "masterklass").ToList().Count / 8.0; i++)
                            {
                                <div class="item">
                                    <div class="container">
                                        <div class="master_tab_main_row_container">
                                            <div class="row master_tab_first_row">
                                                @foreach (var item in Model.News.Where(x => x.NewsType.NewsTypeName == "masterklass").Skip(i * 8).Take(8))
                                                {
                                                    <div class="col-md-3 col-sm-3 col-3 master_tab_for_hover">
                                                        <a href="/Home/News/@item.NewsId">
                                                            <div class="owl_nine_module_content_img_con">
                                                                <div class="owl_nine_module_content_img" style="background-image:url(@item.NewsFirstPhotoPath)"></div>
                                                            </div>
                                                            <div class="master_tab_row_content">
                                                                <div class="master_tab_content_title">@item.NewsTitle</div>
                                                                <!-- <div class="small_info">
                                                                    After three weeks off, the Ultimate Fighting Championship  returns with a Fox Sports 1 offering headlined by
                                                                    Justin Gaethje and James Vick
                                                                </div> -->
                                                                <div class="master_tab_post_date_and_seen_times">
                                                                    <div class="master_tab_post_date">
                                                                        @item.NewsAddedDate
                                                                    </div>
                                                                    <div class="master_tab_seen_times">
                                                                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55.312px" height="55.312px" viewBox="0 0 55.312 55.312" style="enable-background:new 0 0 55.312 55.312;" xml:space="preserve">
                                                                        <g>
                                                                        <g>
                                                                        <g>
                                                                        <path d="M28.042,45.438c-9.428,0-18.675-5.251-27.485-15.606c-0.684-0.804-0.744-1.965-0.148-2.835
                                                                                    c0.479-0.7,11.914-17.124,27.963-17.124c9.511,0,18.429,5.75,26.506,17.089c0.564,0.793,0.579,1.852,0.037,2.659
                                                                                    C54.482,30.266,44.105,45.438,28.042,45.438z M5.348,28.211c7.487,8.332,15.115,12.553,22.694,12.553
                                                                                    c11.041,0,19.297-9.045,22.025-12.465c-6.859-9.126-14.151-13.752-21.694-13.752C17.329,14.546,8.36,24.447,5.348,28.211z"></path>
                                                                            </g>
                                                                        <path d="M27.656,16.407c-6.212,0-11.247,5.035-11.247,11.248c0,6.211,5.035,11.247,11.247,11.247
                                                                                c6.211,0,11.247-5.036,11.247-11.247C38.903,21.443,33.868,16.407,27.656,16.407z M31.685,27.822
                                                                                c-2.503,0-4.532-2.029-4.532-4.531c0-2.504,2.029-4.533,4.532-4.533c2.504,0,4.533,2.029,4.533,4.533
                                                                                C36.218,25.792,34.188,27.822,31.685,27.822z"></path>
                                                                        </g>
                                                                    </g>
                                                                    </svg>
                                                                        @item.NewsViews
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="fsftv">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 fsftv_padd">
                                    <div class="fsftv_container">
                                        <div class="fsftv_background_img_container myBtn01">
                                            @foreach (var item in Model.LiveTvs.TakeLast(1))
                                            {
                                                <div class="video_svg">
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 41.999 41.999" style="enable-background:new 0 0 41.999 41.999;" xml:space="preserve" width="512px" height="512px">
                                                    <path d="M36.068,20.176l-29-20C6.761-0.035,6.363-0.057,6.035,0.114C5.706,0.287,5.5,0.627,5.5,0.999v40  c0,0.372,0.206,0.713,0.535,0.886c0.146,0.076,0.306,0.114,0.465,0.114c0.199,0,0.397-0.06,0.568-0.177l29-20  c0.271-0.187,0.432-0.494,0.432-0.823S36.338,20.363,36.068,20.176z" fill="#c80000"></path>
                                                    <g>
                                                    </g>
                                                    </svg>
                                                </div>
                                                <div class="my_url">@item.LivePath</div>
                                                <div class="fsftv_background_img" style="background-image:url(@item.LivePhotoPath)"></div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container wow fadeIn">
            <div class="row">
                <div class="medicine_hepler_con col-md-8">
                    <div class="module_item_title">spotlight</div>
                    <div class="padd_helper">
                        <div class="medicine_con_main">
                            <div class="img_content_container">
                                <div class="img_background_con">
                                    <div class="img_main"></div>
                                </div>
                            </div>
                            <div class="items_helper_con">
                                <div class="items_container">
                                    @foreach (var item in Model.News.Where(x => x.NewsType.NewsTypeName == "ekspert").TakeLast(10))
                                    {
                                        <span class="con_item">
                                            <div class="main_img_example" style="background-image:url(@item.NewsFirstPhotoPath)"></div>
                                            @item.NewsTitle
                                            <a href="/Home/News/@item.NewsId">
                                                <div class="con_item_txt_container_main">
                                                    <div class="con_item_txt_container">
                                                        @item.NewsBigTitle
                                                    </div>
                                                </div>
                                            </a>
                                        </span>

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="banner_container wow fadeIn">

                    </div>
                </div>
            </div>
        </div>
        <div class="big_feed_panels_cotnainer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-4">
                        <div class="big_small_news_module_row_container wow fadeIn">
                            <div class="module_item_title">spotlight</div>
                            <!--  <div class="big_module_item_title">spotlight</div> -->
                            <div id="owl-five" class="owl-carousel owl-theme">
                                @foreach (var item in Model.News.Where(x => x.NewsType.NewsTypeName == "interview"))
                                {
                                    <div class="item">
                                        <div class="big_small_module_con_item">
                                            <a href="/Home/News/@item.NewsId">
                                                <div class="big_small_module_item_content_main no_border">
                                                    <div class="big_module_content_img_con">
                                                        <div class="big_module_content_img" style="background-image:url(@item.NewsFirstPhotoPath)"></div>
                                                    </div>
                                                    <div class="big_small_module_item_content">
                                                        <div class="big_small_module_content_title">@item.NewsTitle</div>
                                                        <div class="big_small_module_small_info">
                                                            @item.NewsBigTitle
                                                        </div>
                                                        <div class="big_small_module_post_date_and_seen_times">
                                                            <div class="big_small_module_post_date">
                                                                @item.NewsAddedDate
                                                            </div>
                                                            <div class="big_small_module_seen_times">
                                                                <!--?xml version="1.0" encoding="iso-8859-1"?-->
                                                                <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55.312px" height="55.312px" viewBox="0 0 55.312 55.312" style="enable-background:new 0 0 55.312 55.312;" xml:space="preserve">
                                                                <g>
                                                                <g>
                                                                <g>
                                                                <path d="M28.042,45.438c-9.428,0-18.675-5.251-27.485-15.606c-0.684-0.804-0.744-1.965-0.148-2.835
                                                                            c0.479-0.7,11.914-17.124,27.963-17.124c9.511,0,18.429,5.75,26.506,17.089c0.564,0.793,0.579,1.852,0.037,2.659
                                                                            C54.482,30.266,44.105,45.438,28.042,45.438z M5.348,28.211c7.487,8.332,15.115,12.553,22.694,12.553
                                                                            c11.041,0,19.297-9.045,22.025-12.465c-6.859-9.126-14.151-13.752-21.694-13.752C17.329,14.546,8.36,24.447,5.348,28.211z"></path>
                                                                    </g>
                                                                <path d="M27.656,16.407c-6.212,0-11.247,5.035-11.247,11.248c0,6.211,5.035,11.247,11.247,11.247
                                                                        c6.211,0,11.247-5.036,11.247-11.247C38.903,21.443,33.868,16.407,27.656,16.407z M31.685,27.822
                                                                        c-2.503,0-4.532-2.029-4.532-4.531c0-2.504,2.029-4.533,4.532-4.533c2.504,0,4.533,2.029,4.533,4.533
                                                                        C36.218,25.792,34.188,27.822,31.685,27.822z"></path>
                                                                </g>
                                                            </g>
                                                            </svg>
                                                                @item.NewsViews
                                                            </div>
                                                            <div class="big_small_module_read_more_button">
                                                                read more
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                }
                            </div>
                        </div>
                        <div class="big_small_news_module_row_container custom_margin02 wow fadeIn">
                            <div class="module_item_title">spotlight</div>
                            <!--  <div class="big_module_item_title">spotlight</div> -->
                            <div id="owl-six" class="owl-carousel owl-theme">
                                @foreach (var item in Model.Magazines)
                                {
                                    <div class="item">
                                        <div class="big_small_module_con_item">
                                            <a href="/Home/SportsPage/2">
                                                <div style="display:none">@item.SportCategoryId</div>
                                                <div class="big_small_module_item_content_main no_border">
                                                    <div class="big_module_content_img_con">
                                                        <div class="big_module_content_img" style="background-image:url(@item.MagazineFirstPhotoPath)"></div>
                                                    </div>
                                                    <div class="big_small_module_item_content">
                                                        <div class="big_small_module_content_title">@item.ProductTitle</div>
                                                        <div class="big_small_module_small_info">
                                                            @item.ProductTxt
                                                        </div>
                                                        <div class="big_small_module_post_date_and_seen_times">
                                                            @*<div class="big_small_module_post_date">
                                                                
                                                            </div>*@
                                                            <div class="big_small_module_seen_times">
                                                                <!--?xml version="1.0" encoding="iso-8859-1"?-->
                                                                <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55.312px" height="55.312px" viewBox="0 0 55.312 55.312" style="enable-background:new 0 0 55.312 55.312;" xml:space="preserve">
                                                                    <g>
                                                                    <g>
                                                                    <g>
                                                                    <path d="M28.042,45.438c-9.428,0-18.675-5.251-27.485-15.606c-0.684-0.804-0.744-1.965-0.148-2.835
                                                                                c0.479-0.7,11.914-17.124,27.963-17.124c9.511,0,18.429,5.75,26.506,17.089c0.564,0.793,0.579,1.852,0.037,2.659
                                                                                C54.482,30.266,44.105,45.438,28.042,45.438z M5.348,28.211c7.487,8.332,15.115,12.553,22.694,12.553
                                                                                c11.041,0,19.297-9.045,22.025-12.465c-6.859-9.126-14.151-13.752-21.694-13.752C17.329,14.546,8.36,24.447,5.348,28.211z"></path>
                                                                        </g>
                                                                    <path d="M27.656,16.407c-6.212,0-11.247,5.035-11.247,11.248c0,6.211,5.035,11.247,11.247,11.247
                                                                            c6.211,0,11.247-5.036,11.247-11.247C38.903,21.443,33.868,16.407,27.656,16.407z M31.685,27.822
                                                                            c-2.503,0-4.532-2.029-4.532-4.531c0-2.504,2.029-4.533,4.532-4.533c2.504,0,4.533,2.029,4.533,4.533
                                                                            C36.218,25.792,34.188,27.822,31.685,27.822z"></path>
                                                                    </g>
                                                                </g>
                                                                </svg>
                                                                @*@item.NewsViews*@
                                                            </div>
                                                            <div class="big_small_module_read_more_button">
                                                                read more
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="biggest_small_news_module_row_container wow fadeIn">
                            <div class="module_item_title">spotlight</div>
                            <!--  <div class="big_module_item_title">spotlight</div> -->
                            <div id="owl-seven" class="owl-carousel owl-theme">
                                @foreach (var item in Model.News.Where(x => x.NewsType.NewsTypeName == "persona"))
                                {
                                    <div class="item">
                                        <div class="biggest_small_module_con_item">
                                            <a href="/Home/News/@item.NewsId">
                                                <div class="biggest_small_module_item_content_main no_border">
                                                    <div class="biggest_module_content_img_con">
                                                        <div class="biggest_module_content_img" style="background-image:url(@item.NewsFirstPhotoPath)"></div>
                                                    </div>
                                                    <div class="biggest_small_module_item_content">
                                                        <div class="biggest_small_module_content_title">@item.NewsTitle</div>
                                                        <div class="biggest_small_module_small_info">
                                                            @item.NewsBigTitle
                                                        </div>
                                                        <div class="biggest_small_module_post_date_and_seen_times">
                                                            <div class="biggest_small_module_post_date">
                                                                @item.NewsAddedDate
                                                            </div>
                                                            <div class="biggest_small_module_seen_times">
                                                                <!--?xml version="1.0" encoding="iso-8859-1"?-->
                                                                <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55.312px" height="55.312px" viewBox="0 0 55.312 55.312" style="enable-background:new 0 0 55.312 55.312;" xml:space="preserve">
                                                                <g>
                                                                <g>
                                                                <g>
                                                                <path d="M28.042,45.438c-9.428,0-18.675-5.251-27.485-15.606c-0.684-0.804-0.744-1.965-0.148-2.835
                                                                            c0.479-0.7,11.914-17.124,27.963-17.124c9.511,0,18.429,5.75,26.506,17.089c0.564,0.793,0.579,1.852,0.037,2.659
                                                                            C54.482,30.266,44.105,45.438,28.042,45.438z M5.348,28.211c7.487,8.332,15.115,12.553,22.694,12.553
                                                                            c11.041,0,19.297-9.045,22.025-12.465c-6.859-9.126-14.151-13.752-21.694-13.752C17.329,14.546,8.36,24.447,5.348,28.211z"></path>
                                                                    </g>
                                                                <path d="M27.656,16.407c-6.212,0-11.247,5.035-11.247,11.248c0,6.211,5.035,11.247,11.247,11.247
                                                                        c6.211,0,11.247-5.036,11.247-11.247C38.903,21.443,33.868,16.407,27.656,16.407z M31.685,27.822
                                                                        c-2.503,0-4.532-2.029-4.532-4.531c0-2.504,2.029-4.533,4.532-4.533c2.504,0,4.533,2.029,4.533,4.533
                                                                        C36.218,25.792,34.188,27.822,31.685,27.822z"></path>
                                                                </g>
                                                            </g>
                                                            </svg>
                                                                @item.NewsViews
                                                            </div>
                                                            <div class="biggest_small_module_read_more_button">
                                                                read more
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="biggest_banner_container wow fadeIn">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="for_main_footer_content wow fadeIn">
                        <div class="footer_container">
                            <div class="footer_container_main row">
                                <div class="col-md-6 col-12">
                                    <div class="footer_nav_bar_container">
                                        @foreach (var item in Model.SportCategories)
                                        {
                                            <span class="footer_nav_bar_items">
                                                <a href="/Home/SportsPage/@item.SportCategoryId">@item.SportCategoryName</a>
                                            </span>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="footer_second_column_container">
                                        <div class="footer_not_planned_container">
                                            <div class="contacts_con">
                                                <div class="contacts_title">contacts:</div>
                                                <div class="tel">
                                                    tel: +994 50 123 45 67
                                                </div>
                                                <div class="email">
                                                    email : support@fightsports.com
                                                </div>
                                            </div>
                                            <div class="social_container">
                                                <a href="">
                                                    <?xml version="1.0" encoding="iso-8859-1" ?>
                                                    <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                                    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 60.734 60.733" style="enable-background:new 0 0 60.734 60.733;" xml:space="preserve">
                                                    <g>
                                                    <path d="M57.378,0.001H3.352C1.502,0.001,0,1.5,0,3.353v54.026c0,1.853,1.502,3.354,3.352,3.354h29.086V37.214h-7.914v-9.167h7.914   v-6.76c0-7.843,4.789-12.116,11.787-12.116c3.355,0,6.232,0.251,7.071,0.36v8.198l-4.854,0.002c-3.805,0-4.539,1.809-4.539,4.462   v5.851h9.078l-1.187,9.166h-7.892v23.52h15.475c1.852,0,3.355-1.503,3.355-3.351V3.351C60.731,1.5,59.23,0.001,57.378,0.001z" fill="#c80000" />

                                                            </g>
                                                            </svg>
                                                </a>
                                                <a href="">
                                                    <?xml version="1.0" encoding="iso-8859-1" ?>
                                                    <!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 478.161 478.161" style="enable-background:new 0 0 478.161 478.161;" xml:space="preserve" width="512px" height="512px">
                                                    <g>
                                                    <path id="Vimeo_2_" d="M408.173,31.91c-66.405-2.152-111.293,35.125-135.002,111.93c12.133-4.981,23.868-7.511,35.484-7.511   c24.247,0,34.966,13.588,32.157,40.863c-1.395,16.576-12.114,40.584-32.157,72.123c-20.083,31.658-35.026,47.279-44.888,47.279   c-12.97,0-24.725-24.307-35.464-73.119c-3.666-14.285-10.061-50.865-19.366-109.719c-8.607-54.571-31.479-80.013-68.597-76.367   c-15.66,1.415-39.21,15.74-70.569,42.995C46.8,101.124,23.629,122.064,0,142.824l22.534,29.009   C43.951,156.771,56.523,149.2,60.01,149.2c16.497,0,31.778,25.881,46.123,77.463c12.871,47.398,25.741,94.677,38.632,142.174   c19.166,51.502,42.895,77.503,70.689,77.503c45.007,0,100.116-42.437,165.066-127.012c62.699-81.168,95.254-144.984,97.386-191.664   C480.894,65.341,457.624,33.384,408.173,31.91z" fill="#c80000" />

                                                            </g>
                                                            </svg>
                                                </a>
                                                <a href="">
                                                    <?xml version="1.0" encoding="iso-8859-1" ?>
                                                    <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                                    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve">
                                                    <g>
                                                    <g id="post-instagram">
                                                    <path d="M459,0H51C22.95,0,0,22.95,0,51v408c0,28.05,22.95,51,51,51h408c28.05,0,51-22.95,51-51V51C510,22.95,487.05,0,459,0z     M255,153c56.1,0,102,45.9,102,102c0,56.1-45.9,102-102,102c-56.1,0-102-45.9-102-102C153,198.9,198.9,153,255,153z M63.75,459    C56.1,459,51,453.9,51,446.25V229.5h53.55C102,237.15,102,247.35,102,255c0,84.15,68.85,153,153,153c84.15,0,153-68.85,153-153    c0-7.65,0-17.85-2.55-25.5H459v216.75c0,7.65-5.1,12.75-12.75,12.75H63.75z M459,114.75c0,7.65-5.1,12.75-12.75,12.75h-51    c-7.65,0-12.75-5.1-12.75-12.75v-51c0-7.65,5.1-12.75,12.75-12.75h51C453.9,51,459,56.1,459,63.75V114.75z" fill="#c80000" />

                                                                </g>
                                                            </g>
                                                            </svg>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="partners_and_contacts_container">
                                            <div class="partners_title">partners:</div>
                                            <div class="partners_big_container">
                                                <div class="partners_con_first">
                                                    <div class="partner_item">
                                                        <div class="partner_img">
                                                            <?xml version="1.0" encoding="iso-8859-1" ?>
                                                            <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                                            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 60.734 60.733" style="enable-background:new 0 0 60.734 60.733;" xml:space="preserve">
                                                            <g>
                                                            <path d="M57.378,0.001H3.352C1.502,0.001,0,1.5,0,3.353v54.026c0,1.853,1.502,3.354,3.352,3.354h29.086V37.214h-7.914v-9.167h7.914   v-6.76c0-7.843,4.789-12.116,11.787-12.116c3.355,0,6.232,0.251,7.071,0.36v8.198l-4.854,0.002c-3.805,0-4.539,1.809-4.539,4.462   v5.851h9.078l-1.187,9.166h-7.892v23.52h15.475c1.852,0,3.355-1.503,3.355-3.351V3.351C60.731,1.5,59.23,0.001,57.378,0.001z" fill="#c80000" />

                                                                </g>
                                                                </svg>
                                                        </div>
                                                    </div>
                                                    <div class="partner_item">
                                                        <div class="partner_img">
                                                            <?xml version="1.0" encoding="iso-8859-1" ?>
                                                            <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                                            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 60.734 60.733" style="enable-background:new 0 0 60.734 60.733;" xml:space="preserve">
                                                            <g>
                                                            <path d="M57.378,0.001H3.352C1.502,0.001,0,1.5,0,3.353v54.026c0,1.853,1.502,3.354,3.352,3.354h29.086V37.214h-7.914v-9.167h7.914   v-6.76c0-7.843,4.789-12.116,11.787-12.116c3.355,0,6.232,0.251,7.071,0.36v8.198l-4.854,0.002c-3.805,0-4.539,1.809-4.539,4.462   v5.851h9.078l-1.187,9.166h-7.892v23.52h15.475c1.852,0,3.355-1.503,3.355-3.351V3.351C60.731,1.5,59.23,0.001,57.378,0.001z" fill="#c80000" />

                                                                </g>
                                                                </svg>
                                                        </div>
                                                    </div>
                                                    <div class="partner_item">
                                                        <div class="partner_img">
                                                            <?xml version="1.0" encoding="iso-8859-1" ?>
                                                            <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                                            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 60.734 60.733" style="enable-background:new 0 0 60.734 60.733;" xml:space="preserve">
                                                            <g>
                                                            <path d="M57.378,0.001H3.352C1.502,0.001,0,1.5,0,3.353v54.026c0,1.853,1.502,3.354,3.352,3.354h29.086V37.214h-7.914v-9.167h7.914   v-6.76c0-7.843,4.789-12.116,11.787-12.116c3.355,0,6.232,0.251,7.071,0.36v8.198l-4.854,0.002c-3.805,0-4.539,1.809-4.539,4.462   v5.851h9.078l-1.187,9.166h-7.892v23.52h15.475c1.852,0,3.355-1.503,3.355-3.351V3.351C60.731,1.5,59.23,0.001,57.378,0.001z" fill="#c80000" />

                                                                </g>
                                                                </svg>
                                                        </div>
                                                    </div>
                                                    <div class="partner_item">
                                                        <div class="partner_img">
                                                            <?xml version="1.0" encoding="iso-8859-1" ?>
                                                            <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                                            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 60.734 60.733" style="enable-background:new 0 0 60.734 60.733;" xml:space="preserve">
                                                            <g>
                                                            <path d="M57.378,0.001H3.352C1.502,0.001,0,1.5,0,3.353v54.026c0,1.853,1.502,3.354,3.352,3.354h29.086V37.214h-7.914v-9.167h7.914   v-6.76c0-7.843,4.789-12.116,11.787-12.116c3.355,0,6.232,0.251,7.071,0.36v8.198l-4.854,0.002c-3.805,0-4.539,1.809-4.539,4.462   v5.851h9.078l-1.187,9.166h-7.892v23.52h15.475c1.852,0,3.355-1.503,3.355-3.351V3.351C60.731,1.5,59.23,0.001,57.378,0.001z" fill="#c80000" />

                                                                </g>
                                                                </svg>
                                                        </div>
                                                    </div>
                                                    <div class="partner_item">
                                                        <div class="partner_img">
                                                            <?xml version="1.0" encoding="iso-8859-1" ?>
                                                            <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                                            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 60.734 60.733" style="enable-background:new 0 0 60.734 60.733;" xml:space="preserve">
                                                            <g>
                                                            <path d="M57.378,0.001H3.352C1.502,0.001,0,1.5,0,3.353v54.026c0,1.853,1.502,3.354,3.352,3.354h29.086V37.214h-7.914v-9.167h7.914   v-6.76c0-7.843,4.789-12.116,11.787-12.116c3.355,0,6.232,0.251,7.071,0.36v8.198l-4.854,0.002c-3.805,0-4.539,1.809-4.539,4.462   v5.851h9.078l-1.187,9.166h-7.892v23.52h15.475c1.852,0,3.355-1.503,3.355-3.351V3.351C60.731,1.5,59.23,0.001,57.378,0.001z" fill="#c80000" />

                                                                </g>
                                                                </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="partners_con_second">
                                                    <div class="partner_item">
                                                        <div class="partner_img">
                                                            <?xml version="1.0" encoding="iso-8859-1" ?>
                                                            <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                                            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 60.734 60.733" style="enable-background:new 0 0 60.734 60.733;" xml:space="preserve">
                                                            <g>
                                                            <path d="M57.378,0.001H3.352C1.502,0.001,0,1.5,0,3.353v54.026c0,1.853,1.502,3.354,3.352,3.354h29.086V37.214h-7.914v-9.167h7.914   v-6.76c0-7.843,4.789-12.116,11.787-12.116c3.355,0,6.232,0.251,7.071,0.36v8.198l-4.854,0.002c-3.805,0-4.539,1.809-4.539,4.462   v5.851h9.078l-1.187,9.166h-7.892v23.52h15.475c1.852,0,3.355-1.503,3.355-3.351V3.351C60.731,1.5,59.23,0.001,57.378,0.001z" fill="#c80000" />

                                                                </g>
                                                                </svg>
                                                        </div>
                                                    </div>
                                                    <div class="partner_item">
                                                        <div class="partner_img">
                                                            <?xml version="1.0" encoding="iso-8859-1" ?>
                                                            <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                                            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 60.734 60.733" style="enable-background:new 0 0 60.734 60.733;" xml:space="preserve">
                                                            <g>
                                                            <path d="M57.378,0.001H3.352C1.502,0.001,0,1.5,0,3.353v54.026c0,1.853,1.502,3.354,3.352,3.354h29.086V37.214h-7.914v-9.167h7.914   v-6.76c0-7.843,4.789-12.116,11.787-12.116c3.355,0,6.232,0.251,7.071,0.36v8.198l-4.854,0.002c-3.805,0-4.539,1.809-4.539,4.462   v5.851h9.078l-1.187,9.166h-7.892v23.52h15.475c1.852,0,3.355-1.503,3.355-3.351V3.351C60.731,1.5,59.23,0.001,57.378,0.001z" fill="#c80000" />

                                                                </g>
                                                                </svg>
                                                        </div>
                                                    </div>
                                                    <div class="partner_item">
                                                        <div class="partner_img">
                                                            <?xml version="1.0" encoding="iso-8859-1" ?>
                                                            <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                                            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 60.734 60.733" style="enable-background:new 0 0 60.734 60.733;" xml:space="preserve">
                                                            <g>
                                                            <path d="M57.378,0.001H3.352C1.502,0.001,0,1.5,0,3.353v54.026c0,1.853,1.502,3.354,3.352,3.354h29.086V37.214h-7.914v-9.167h7.914   v-6.76c0-7.843,4.789-12.116,11.787-12.116c3.355,0,6.232,0.251,7.071,0.36v8.198l-4.854,0.002c-3.805,0-4.539,1.809-4.539,4.462   v5.851h9.078l-1.187,9.166h-7.892v23.52h15.475c1.852,0,3.355-1.503,3.355-3.351V3.351C60.731,1.5,59.23,0.001,57.378,0.001z" fill="#c80000" />

                                                                </g>
                                                                </svg>
                                                        </div>
                                                    </div>
                                                    <div class="partner_item">
                                                        <div class="partner_img">
                                                            <?xml version="1.0" encoding="iso-8859-1" ?>
                                                            <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                                            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 60.734 60.733" style="enable-background:new 0 0 60.734 60.733;" xml:space="preserve">
                                                            <g>
                                                            <path d="M57.378,0.001H3.352C1.502,0.001,0,1.5,0,3.353v54.026c0,1.853,1.502,3.354,3.352,3.354h29.086V37.214h-7.914v-9.167h7.914   v-6.76c0-7.843,4.789-12.116,11.787-12.116c3.355,0,6.232,0.251,7.071,0.36v8.198l-4.854,0.002c-3.805,0-4.539,1.809-4.539,4.462   v5.851h9.078l-1.187,9.166h-7.892v23.52h15.475c1.852,0,3.355-1.503,3.355-3.351V3.351C60.731,1.5,59.23,0.001,57.378,0.001z" fill="#c80000" />

                                                                </g>
                                                                </svg>
                                                        </div>
                                                    </div>
                                                    <div class="partner_item">
                                                        <div class="partner_img">
                                                            <?xml version="1.0" encoding="iso-8859-1" ?>
                                                            <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                                            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 60.734 60.733" style="enable-background:new 0 0 60.734 60.733;" xml:space="preserve">
                                                            <g>
                                                            <path d="M57.378,0.001H3.352C1.502,0.001,0,1.5,0,3.353v54.026c0,1.853,1.502,3.354,3.352,3.354h29.086V37.214h-7.914v-9.167h7.914   v-6.76c0-7.843,4.789-12.116,11.787-12.116c3.355,0,6.232,0.251,7.071,0.36v8.198l-4.854,0.002c-3.805,0-4.539,1.809-4.539,4.462   v5.851h9.078l-1.187,9.166h-7.892v23.52h15.475c1.852,0,3.355-1.503,3.355-3.351V3.351C60.731,1.5,59.23,0.001,57.378,0.001z" fill="#c80000" />

                                                                </g>
                                                                </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer_footer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous">
    </script>
    <script src="~/js/owl.carousel.min.js">
    </script>
    <script src="~/js/wow.min.js">
    </script>
    <script src="~/js/index.js">
    </script>
    @*<script>
            (function($){
                jQuery.fn.checkEmpty = function() {
                   return !$.trim(this.html()).length;
                };
            }(jQuery));

            function showEmpty(){
                var noResultCon = $('.no_result_con')
                var searchList = $('.search_list')
                if($('.search_list').checkEmpty()){
                    $('.search_list').css({color: 'red'})
                }
            }
            showEmpty()
        </script>*@
    <script type="text/javascript">
        $('.search_button').click(function(){
            var data = $('.search_area').val()
            $.ajax({
                url:"/Home/Search/" + data,
                type:"GET",
                dataType: "json",
                success:function(data){
                   $('#modal03').modal('show');
                    var searchList = $('.search_list')
                    searchList.empty()

                    $.each(data,function(index,val){
                        var result = '<div class="search_list_item">' +
                                        '<a class="list_item_href" href="/Home/News/' + val.newsId + '">'
                                            + '<div>' + val.newsTitle + '</div>'
                                            + '<div class="news_search_bg">' + val.newsBigTitle + '</div>' +
                                         '</a>' +
                                      '</div>';
                        searchList.append(result)
                    })
                }
            })

        })
    </script>

</body>
</html>